.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-sans);
    color: var(--primary-60);
    font-weight: 600;
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem;
    //max-height: 13rem;
}

.maxSize {
    max-height: 13rem;
}

.legend {
    padding-left: 2.5rem;
}
