.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.playWrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.section {
    display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 1rem;
    justify-content: space-between;
    border-radius: 0.8rem;
    overflow: hidden;
    flex-grow: 1;
}

.title {
    background-color: var(--tertiary-90);
    color: var(--tertiary-70);
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 1.5rem;
    gap: 1rem;
}
