.testControlsWrapper {
    min-width: 15rem;
    //height: 20.5rem;
    display: flex;
    flex-flow: column;
    row-gap: 0.5rem;
}

.playWrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.sectionWrapper {
    display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 1rem;
    justify-content: space-between;
    gap: 0.2rem;
    border-radius: 0.8rem;
    overflow: hidden;
    flex-grow: 1;
}

.title {
    background-color: var(--tertiary-90);
    color: var(--tertiary-70);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: bold;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 0.5rem;
    padding-top: 0.7rem;
    gap: 1rem;
}
